<!DOCTYPE html>
<html>
    <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
      {% if title %}
      <title>{{ title }} - Hospital Heippi API Rest</title>
      {% else %}
      <title>Hospital Heippi API Rest</title>
      {% endif %}
    </head>
    <body>
    <header class="header">
        <div class="menu">
            <a href="/">Inicio</a>
            {% if current_user.is_authenticated %}
            {% else %}
            <a href="/register">Registrarse</a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="/logout">Cerrar Sesión</a>
            {% else %}
            <a href="/login">Iniciar Sesión</a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="/changepassword">Cambiar Contraseña</a>
            {% else %}
            {% endif %}
            {% if current_user.is_authenticated and (current_user.kind == 'Hospital') %}
            <a href="/createdoctor">Crear Médico</a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="/consultar_registros">Consultar Registros</a>
            {% endif %}
        </div>
    </header>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>