{% extends "base.html" %}

{% block content %}
    <h1>Usuario tipo 'Paciente'</h1>
    <form action="" method="post">
        <!-- hidden_tag() is used to generate a hidden field that includes a token-->
        <!-- used to protecto the from against CSRF attacks --> 
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=64) }}<br>
            {% for error in form.address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.dob.label }} (YYYY-MM-DD)<br>
            {{ form.dob(class='datepicker') }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}